@{ 
    ViewData["Title"] = "Travel Blog | Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TravelBlog.Models.Experience


<p>@Html.DisplayFor(exp => exp.Description)</p>
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.ExperienceId })</p>
<p>@Html.ActionLink("Delete", "Delete", new { id = Model.ExperienceId })</p>

@foreach (var personExperience in Model.People)
{
    <p>@Html.DisplayFor(name => personExperience.Person.Name)</p>
}

<h3>Add Person to This Experience</h3>

@using (Html.BeginForm("CreateRelationship", "Experiences"))
{
    @Html.LabelFor(model => model.People)
    @Html.DropDownList("PersonId")

    @Html.HiddenFor(model => model.ExperienceId)

    <input type="submit" value="Submit" />
}