@{
    ViewData["Title"] = "Travel Blog | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<TravelBlog.Models.Experience>

<ul>
    @foreach(var listItem in Model)
    {
    <li>@Html.DisplayFor(modelItem => listItem.Description) - @Html.ActionLink(listItem.Location.Name, "Details", "Locations", new { id = listItem.LocationId })</li>

    }
</ul>

<p>@Html.ActionLink("Submit New Experience", "Create")</p>
<p>@Html.ActionLink("Add New Location", "Create", "Locations")</p>
<p>@Html.ActionLink("Add New Person", "Create", "People")</p>
<p>@Html.ActionLink("Add Person to Experience", "CreateRelationship")</p>